.container {
    background-color: rgba(26, 26, 98, 0.198);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: -20px auto;
    .card {
        background-color: aquamarine;
        box-sizing: border-box;
        height: 100px;
        width: calc( 25% - 40px);
        border: 2px inline black;
        margin: 20px;
    }
}